/*---------------------------------------------------------------------------*/
/* body*/
/*---------------------------------------------------------------------------*/
.bslib-page-fill {
  min-height: 100vh !important;
  height: auto !important;
} 

/*---------------------------------------------------------------------------*/
/* Target the toggle icon on sidebars*/
/*---------------------------------------------------------------------------*/
button.collapse-toggle {
  color: black !important;
}

